.grupo-input {
  display: flex;
  align-items: center;
  gap: 12px;
}


input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  width: 70%;
  font-size: 15px;
}


.btn-add {
  padding: 12px 20px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.25s;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}

.btn-add:hover {
  background: #16a34a;
  transform: scale(1.03);
}

.material-icons {
  font-size: 22px;
}
